@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5; 
  --foreground: #1a1a1a; 
  --primary: #ff6b00; 
  --secondary: #005f73; 
  --accent: #9b5de5; 
  --text: #2b2d42; 
  --card-bg: #ffffff; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #e0e0e0;
    --primary: #ff9100; 
    --secondary: #0a9396; 
    --accent: #d7263d; 
    --text: #f8f9fa; 
    --card-bg: #1e1e1e; 
  }
}

@layer utilities {
  /* Scrollbar for Webkit browsers */
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #ff6b00; /* Adjust to your primary color */
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ff9100; /* Darker color on hover */
  }
}

li{
  list-style: none;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}